*{
    box-sizing: border-box;
    font-family: "transat", sans-serif;
font-weight: 900;
font-style: normal;
}

.btn{
    color:black;
}

#heroimage{
    width:100%;
    height:auto;
}

.hero-container{
    /* display: flex; */
    /* justify-content: right;
    align-items: right; */
    height: 50vh;
    background-image: url('images/heroimage.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: right;
    font-size: 3em;
}

.hero-container p{
    /* font-size: 0.5em; */
    font-size: 3vh;
    width:30%;
    margin-right: 150px;
    margin-top: 20px;
}
.hero-container h1{
    /* font-size: 2em; */
    font-size: 10vh;
    width:30%;
    margin-right: 150px;
    padding-top: 30px;;
    
}
.hero-container button{
    /* margin-right:450px; */
    margin-right: 21%;
    background-color:#F8A055;
    color:black;
    font-weight: 500;
                    font-style: normal;
}
/* .hero-container h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    margin-top: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    animation: slidein 1s ease-in-out infinite;
    font-size: 2em;
    width: 20%;
    margin-right: 0px;
    text-align: right;
} */
.navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    font-size: 150%;
}

.search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 auto;
}

/* .right-menu {
    flex-grow: 1;
    max-width: 400px;
    /* margin: 0 auto; */



.navbar-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    font-size: 150%;
}

.navbar-bottom .nav-item, .navbar-top .nav-item {
    padding: 5px 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 120px;
}


@media (max-width: 992px) {
    .navbar-top {
        flex-direction: column;
        text-align: center;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
    }

    .navbar-bottom {
        flex-direction: column;
        align-items: center;
    }

    .navbar-bottom .nav-item {
        text-align: center;
    }

    .hero-container h1{
        font-size: 1em;
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .hero-container p{
        display:none;
    }

    .hero-container button{
        /* margin-right: 0px; */
        font-size: 0.4em;
        margin-left:50%;
        margin-right:50%;
        margin-top: 10px;
        text-align: center;
    }
}

/* @media (max-width: 1280px) {
    .hero-container h1{
        font-size: 10px;
    }
} */
.icons{
    display: block;
}


.products {
    text-align: center;
    padding: 20px;
}
.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product {
    background: #A47551;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color:white;
}
.product p {
    font-size: 0.9em;
    color:white;
    margin: 5px 10px;
}

.product button {
    background:#F8A055;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}